body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.container {

  &.squeeze {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    max-width: 46rem;
  }
}

.header {
  padding-bottom: 2rem;
}

.footer {
  padding-top: 2rem;
}
