doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='Personal Homepage of Harris Novick')
    meta(name='author', content='Harris Novick')
    title Harris Novick
    link(rel='stylesheet', href='stylesheets/bootstrap.css')
    link(rel='stylesheet', href='stylesheets/app.css')
body
  .container.squeeze
    .header.clearfix
      h1.display-4 Harris Novick
      h2.text-muted.lead Writing software, writing songs, building products and companies, meeting new people and learning new skills; staying interested and vital above most else.
    .row
      .col-lg-6
        section.twitter
          h4 Twitter
          block content
        section.instagram
          h4 Instagram
          p.primary Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.
        section.lastfm
          h4 Last.fm
          p.primary Maecenas sed diam eget risus varius blandit sit amet non magna.
      .col-lg-6
        section.github
          h4 GitHub
          p.primary Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.
        section.youtube
          h4 YouTube
          p.primary Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.
        section.trakttv
          h4 Trakt.tv
          p.primary Maecenas sed diam eget risus varius blandit sit amet non magna.
    footer.footer
      p.text-muted &copy; Harris Novick 2016
