doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='Personal Homepage of Harris Novick')
    meta(name='author', content='Harris Novick')
    title Harris Novick
    link(href='https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Noto+Serif:400,400i&subset=latin-ext', rel='stylesheet')
    link(rel='stylesheet', href='stylesheets/bootstrap.css')
    link(rel='stylesheet', href='stylesheets/app.css')
body
  .container.squeeze
    .header.clearfix
      h1.display-4 Harris Novick
      h2.text-muted.lead Writing software, writing songs, building products and companies, meeting new people and learning new skills; staying interested and vital above most else.
    .row
      .col-lg-6
        section.quotation
          block quotation
        section.instagram
          h4 Instagram
          block instagram
        section.lastfm
          h4 Last.fm
          block lastfm
      .col-lg-6
        section.github
          h4 GitHub
          block github
        section.youtube
          h4 YouTube
          block youtube
        section.trakttv
          h4 Trakt.tv
          block trakt
    footer.footer
      p.text-muted &copy; Harris Novick 2016
