doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Harris Novick
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='stylesheets/app.css', type='text/css')
  body
    h1 Brunch-jade-stylus
    p This allows you to use index.static.jade instead of index.html for brunch!

    //- Include your templates here, like:
    include templates/additional-content.jade

    script(src='javascripts/vendor.js')
    script(src='javascripts/app.js')
    script.
      require('initialize');
