@font-face {
  font-family: 'sciflyregular';
  src: url('../fonts/scifly-sans-webfont.eot');
  src: url('../fonts/scifly-sans-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/scifly-sans-webfont.woff') format('woff'),
       url('../fonts/scifly-sans-webfont.ttf') format('truetype'),
       url('../fonts/scifly-sans-webfont.svg#sciflyregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  background: #191919;
  padding-top: 90px;
  padding-bottom: 120px;
  overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6 {
  color: #f8f8f8;
  font-family: 'sciflyregular';
  text-transform: uppercase;
  font-weight: normal;
}

h1 {
  font-size: 60px;
  text-align: center;
  margin-bottom: 40px;
}

h1 a {
  color: #f8f8f8;
  text-decoration: none;
}

h1 a:hover {
  color: #f8f8f8;
  text-decoration: none;
}

.container > .content {
  position: relative;
  margin: 0 auto;
  max-width: 710px;
}

#stream {
  position: relative;
  left: 5px;
}

.dcsns-toolbar {
  width: 225px;
  margin: 0 auto 40px;
}

.dcsns-toolbar .filter li a {
  background: none;
}
